global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres
    bind *:5432
    option httpchk
    http-check expect status 200
    default-server inter 1s fall 2 rise 1 on-marked-down shutdown-sessions
    server postgresql_air air.nload.top:5430 maxconn 100 check port 28008
    server postgresql_mini mini.nload.top:5430 maxconn 100 check port 28008
    server postgresql_mba mba.nload.top:5430 maxconn 100 check port 28008

